POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=docanai

ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}

DOTNET_ENVIRONMENT=Development
ASPNETCORE_ENVIRONMENT=Development

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123

JwtSettings__Secret=jD8vLokb6MChB4Fan1kT3qaqRNCzz8B1BETv8rfdCfQ

RabbitMQ__Username=guest
RabbitMQ__Password=guest