@use './helpers/' as *;

:root {
  --color-light: #F8FAFC;
  --color-light-alt: #FFFFFF;

  --color-dark: #1E293B;
  --color-dark-alt: #64748B;

  --color-accent-1: #1E40AF;
  --color-accent-2: #10B981;

  --color-gray: #C1C8D0;
  --color-gray-light: #E2E8F0;

  --color-red: #EF4444;

  --border: #{rem(1)} solid var(--color-gray-light);
  --border-accent: #{rem(1)} solid var(--color-accent-2);

  --border-radius: #{rem(24)};
  --border-radius-small: #{rem(6)};

  --font-family: 'Inter', system-ui, sans-serif;

  --container-width: #{rem(1200)};
  --container-padding-x: #{rem(120)};

  --section-padding-y: #{rem(60)};

  --shadow-dark: 0 #{rem(4)} #{rem(12)} 0 rgba(30, 41, 59, 0.15);
  --shadow-accent: 0 0 #{rem(12)} 0 rgba(16, 185, 129, 0.5);

  --transition-duration: 0.2s;
}
